body {
  background-color: #f9f9f9;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
  box-sizing: border-box;
}

a {
  color: blue;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.header {
  max-width: 668px;
  margin: 0 auto 20px auto;
  display: flex;
  flex-direction: row;

  .session {
    margin-left: auto;
  }
}

.notice {
  max-width: 668px;
  margin: 0 auto;
  padding: 20px;
  color: #856404;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
}

.content {
  padding-top: 20px;
  max-width: 668px;
  margin: 0 auto;
}

.error {
  padding: 20px;
  color: #856404;
  background-color: #f9dade;
  border: 1px solid #f9dade;
}

.box {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #e8e8e8;

  & + & {
    margin-top: 20px;
  }
}
