.post {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;

  h2 {
    margin: 0 0 20px 0;
    padding: 0;
  }

  .url {
    margin-bottom: 10px;

    a {
      color: #999999;
    }
  }

  .tagline {
    margin-bottom: 10px;
  }

  footer {
    color: #999999;
  }

  & + & {
    margin-top: 20px;
  }

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  button {
    font-size: 14px;
    border-radius: 5px;
    padding: 2px 10px;
    background: white;
    border: 1px solid #e8e8e8;
    margin-right: 10px;
    outline: none;
    cursor: pointer;

    &:hover {
      background: #e8e8e8;
    }
  }
}

// lets keep here for the demo purpose
.comment {
  @extend .post;
}
