<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Kittynews</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <header class="box header">
      <div class="home">
        <%= link_to 'Home', root_path %>
      </div>
      <div class="session">
        <% if user_signed_in? %>
          <span>Hi <%= current_user.name %>,</span>
          <%= link_to 'Logout', destroy_user_session_path, data: { method: :delete } %>
        <% else %>
          <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </div>
    </header>
    <% if alert.present? || notice.present? %>
      <div class="notice">
        <%= alert || notice %>
      </div>
    <% end %>
    <section class="content">
      <%= yield %>
    </section>
  </body>
</html>

